<div class="detalhes-container">
    <!-- coluna da imagem -->
    <div class="galeria">
        <img class="imagem-principal" [src]="produto?.imagem" alt="Foto do produto" />

        <div class="miniaturas">
            <img [src]="produto?.imagem" alt="Miniatura" />
        </div>
    </div>

    <!-- coluna de informaçoes -->
    <div class="info-produto">
        <h1>{{produto?.nome}}</h1>
        <p class="descricao">{{produto?.descricao}}</p>

        <h2 class="preco">R$ {{produto?.preco}}</h2>
        <p class="frete">Frete: <span class="frete-gratis">Grátis</span></p>

        <div class="quantidade">
            @if(produto) {
            <label>Quantidade:</label>
            <input type="number" [(ngModel)]="produto.quantidade" min="1" max="20" />
            }

        </div>

        <button mat-flat-button color="primary" class="botao-comprar" (click)="comprar()">
            Comprar agora
        </button>
        <button mat-stroked-button class="botao-carrinho" (click)="adicionarAoCarrinho()">
            Adicionar ao carrinho
        </button>
    </div>
</div>