<div class="container">
  <ng-container *ngIf="itens.length > 0; else carrinhoVazio">
    <!-- produtos -->
    <div class="container-produtos">
      @for (item of itens; track $index) {
      <div class="produto-card">
        <img [src]="item.imagem" />
        <div class="info">
          <h3>{{ item.nome }}</h3>
          <p>Preço unitário: R$ {{ item.preco }}</p>
          <p>Subtotal: R$ xxxxxx</p>

          <div class="quantidade">
            <button mat-icon-button>
              <mat-icon>remove</mat-icon>
            </button>

            <input value="1" />

            <button mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <button
            mat-button
            class="botao-excluir"
            (click)="removerItem($index)"
          >
            <mat-icon>delete</mat-icon>Excluir
          </button>

          <div class="frete">
            Frete: <span style="color: #30ce5a">Grátis</span>
          </div>
        </div>
      </div>
      }
    </div>

    <!-- resumo da compra -->
    <div class="right resumo">
      <h3>Resumo da compra</h3>
      <p>Produtos ({{ itens.length }}): R$ xxxx</p>
      <p>Frete: <span style="color: #30ce5a">Grátis</span></p>
      <hr />
      <p><strong>Total: R$ xxxx</strong></p>
      <button mat-raised-button class="botao-finaliza-compra">
        Finalizar compra
      </button>
      <button
        mat-stroked-button
        (click)="continuarComprando()"
        class="botao-continua-compra"
      >
        Continuar comprando
      </button>
    </div>
  </ng-container>

  <!-- carrinho vazio -->
  <ng-template #carrinhoVazio>
    <div class="left empty">
      <mat-card class="empty-card">
        <mat-icon>shopping_cart_off</mat-icon>
        <p>Seu carrinho está vazio!</p>
        <div>
          <h3>Adicione produtos e consiga frete grátis</h3>
          <a routerLink="/produtos">Conferir produtos</a>
        </div>
      </mat-card>
    </div>

    <div class="right resumo disabled">
      <h3>Resumo da compra</h3>
      <p class="placeholder">
        Aqui, você encontrará os valores da sua compra assim que adicionar
        produtos.
      </p>
    </div>
  </ng-template>
</div>
