.container {
    display: flex;
    gap: 20px;
    margin-top: 70px;
    height: calc(100vh - 70px);
}

.container-produtos {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow-y: auto;
    gap: 20px;
    zoom: 80%;
    padding: 10px;
    height: 90%;
}

.right.resumo {
    flex: 1;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 16px;
    zoom: 80%;
    min-width: 200px;
    max-height: 400px;
}

.produto-card {
    display: flex;
    background: #f5f5f5;
    border-radius: 8px;
    align-items: center;
    gap: 30px;
}

.produto-card img {
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quantidade {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
        width: 50px;
        text-align: center;
    }
}

.botao-excluir {
    color: rgb(234, 37, 37);
}

.botao-finaliza-compra {
    width: 100%;
    margin-top: 20px;
    background: #33b154;
    color: white;
}

.botao-continua-compra {
    width: 100%;
    margin-top: 20px;
}


.placeholder {
    font-size: 0.85rem;
    color: #888;
}

.carrinho-vazio {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.carrinho-vazio mat-icon {
    font-size: 48px;
    padding: 20px;
    color: #ccc;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container-produtos {
        max-height: 400px;
    }

    .produto-card img {
        width: 100px;
        height: auto;
    }

    .empty-card {
        flex-direction: column;
        text-align: center;
    }
}